@font-face {  
    font-family: 'YekanBakh-ExtraBlack';  
    src: url('../fonts/woff2/YekanBakh-ExtraBlack.woff2') format('woff2'),  
         url('../fonts/woff/YekanBakh-ExtraBlack.woff') format('woff');  
    font-weight: 950;   
    font-style: normal;  
}  

@font-face {  
    font-family: 'YekanBakh-Bold';  
    src: url('../fonts/woff2/YekanBakh-Bold.woff2') format('woff2'),  
         url('../fonts/woff/YekanBakh-Bold.woff') format('woff');  
    font-weight: bold;  
    font-style: normal;  
}  

@font-face {  
    font-family: 'YekanBakh-ExtraBold';  
    src: url('../fonts/woff2/YekanBakh-ExtraBold.woff2') format('woff2'),  
         url('../fonts/woff/YekanBakh-ExtraBold.woff') format('woff');  
    font-weight: 800;   
    font-style: normal;  
}  

@font-face {  
    font-family: 'YekanBakh-Light';  
    src: url('../fonts/woff2/YekanBakh-Light.woff2') format('woff2'),  
         url('../fonts/woff/YekanBakh-Light.woff') format('woff');  
    font-weight: 300;  
    font-style: normal;  
}  

@font-face {  
    font-family: 'YekanBakh-Regular';  
    src: url('../fonts/woff2/YekanBakh-Regular.woff2') format('woff2'),  
         url('../fonts/woff/YekanBakh-Regular.woff') format('woff');  
    font-weight: normal;   
    font-style: normal;  
}  

@font-face {  
    font-family: 'YekanBakh-SemiBold';  
    src: url('../fonts/woff2/YekanBakh-SemiBold.woff2') format('woff2'),  
         url('../fonts/woff/YekanBakh-SemiBold.woff') format('woff');  
    font-weight: 600;   
    font-style: normal;  
}