.dark{
    --primary:#FFC107;
    --secondary:#242428;
    --background: #3C3B41;
    --foreground: #ededed;
    --third:#302F34;
    --fourth:#242428;
    --fifth:#302F34;
    --sixth:#FFFFFF;
    --Seventh:#FFFFFF
}