:root {
    --primary: #FFC107;
    --secondary: #F6F6F6;
    --background: #FFFFFF;
    --foreground: #171717;
    
    --third: #F6F6F6;
    --fourth: #EBEBEB;
    --fifth: #FFFFFF;
    --sixth: #3C3B41;
    --seventh: #000000;
    --nine: #FFFFFF;
    --eighth: #242428;

    --gradient1: #FFAB082B;
    --gradient2: #FFD5831C;
    --gradient3: #FFFFFF00;
}