:root {
    --primary: #FFC107;
    --secondary:#F6F6F6;
    --background:#FFFFFF;
    --foreground: #171717;
    --third:#F6F6F6;
    --fourth:#F6F6F6;
    --fifth:#FFFFFF;
    --sixth:#3C3B41;
    --Seventh:#000000;
    --Eighth:#242428;
    --Ninth:#EBEBEB
}