@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../assets/fonts/index.css";
@import "./theme/light.css";
@import "./theme/dark.css";

body {
  direction: rtl;
  color: var(--foreground);
  background-color: var(--background);
  font-family: "YekanBakh-SemiBold";
}
::-webkit-scrollbar {  
  width: 6px;  
}  

::-webkit-scrollbar-track {  
  background: #bbb9b9;  
}  

::-webkit-scrollbar-thumb {  
  background:var(--primary);  
  border-radius: 6px;  
}  

::-webkit-scrollbar-thumb:hover {  
  background: #555;  
}  


@layer utilities {
  .bg-custom-gradient {
    background: linear-gradient(
      to bottom,
      rgba(255, 171, 8, 0.17) 0%,
      rgba(255, 213, 131, 0.11) 80%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .bg-custom-gradient2 {
    background: linear-gradient(
      to top,
      rgba(255, 171, 8, 0.17) 0%,
      rgba(255, 213, 131, 0.11) 80%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .bg-dark-no-gradient {
    background: 242428;
  }
  
}
